@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    scroll-behavior: smooth;
    width: 100%;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.left-overlay,
.right-overlay{
    display: block;
    width: 3%;
    background-color: #fff;
    height: 100%;
    z-index: 10;
    top: 0;
    position: fixed;
}

.left-overlay{
    left: 0;
}

.right-overlay{
    left: 100%;
    transform: translateX(-100%);
}

.top-overlay,
.bottom-overlay{
    display: block;
    width: 100%;
    height: 6%;
    background-color: #fff;
    z-index: 10;
    left: 0;
    position: fixed;
}

.top-overlay{
    top: 0%;
}

.bottom-overlay{
    top: 100%;
    transform: translateY(-100%);
}

.logo-text{
    position: fixed;
    z-index: 20;
    top: 2%;
    left: 3%;
    font-size: 70%;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.social-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 98.5%;
    z-index: 20;
    transform: translate(-50%,-50%);
}

.link img{
    height: 15px;
    width: 15px;
}

.side-nav{
    display: block;
    position: fixed;
    height: 89%;
    top: 50%;
    
    right: 97%;
    /* left: 0; */

    width: 90%;
    background-color: white;
    transform: translateY(-50%);
    z-index: 20;
}

.side-nav_links{
    display: flex;
    height: 100%;
    position: absolute;
    flex-direction: column;
    left: 25%;
    transform: translateX(-50%);
    justify-content: space-evenly;
}

.nav-links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.link{
    margin-bottom: 5px;
}

.link a{
    text-decoration: none;
    color: #000;
    font-size: 120%;
    font-weight: 900;
}

.nav-brief{
    transform: translateX(-35%);
}

.menu-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.hide_menu-icon{
    visibility: hidden;
}

.close-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/******************************************/
/***************Main Section***************/
/******************************************/

.main{
    display: block;
    height: 88%;
    width: 94%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f8f8f8;
}

/*********************************************/
/****************Intro Section****************/
/*********************************************/

.intro{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide-in__intro{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #ff5851;
    position: relative;
    transform: translateX(-50%);
}

.hello-container{
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
}

#hello{
    animation: fill-text 0.5s linear forwards 2.8s;
}

#hello path{
    stroke-dasharray: 2426px;
    stroke-dashoffset: 2426px;
    animation: line-anim 7s linear forwards 1s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill-text{
    from{
        fill: transparent;
    }
    to{
        fill: #1c1b20;
    }
}

.hero-box{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
}

.waves img{
    width: 30px;
    vertical-align: middle;
}

.date-text{
    display: inline-block;
    font-style: italic;
    margin: 0 0 10px 10px;
    color: #1c1b20;
    font-weight: 400;
    font-size: 70%;
    transform: translateX(-50%);
    background-color: #ff5851;
    opacity: 0;
}

.hero-text p{
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
    font-style: italic;
    transform: translateY(105%);
    opacity: 0;
}

.animate-hero_text{
    display: block;
    overflow: hidden;
}

.highlight-text p{
    color: #1c1b20 !important;
}

/******************************************************/
/*******************Services Section*******************/
/******************************************************/

.services,
.portfolio{
    display: block;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 60px;
}

.page-title{
    font-size: 300%;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #ff5851;
    display: block;
    padding: 80px 0 0 250px;
}

.highlight-overview,
.highlight-centered{
    font-weight: 500 !important;
    font-style: italic;
    font-family: cursive;
}

.page-title_icon{
    display: block;
    width: 50px;
}

.services-desc,
.portfolio-desc{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 80px;
    padding-left: 250px;
}

.left-desc{
    display: block;
    width: 30%;
    overflow: hidden;
}

.desc-title{
    font-size: 120%;
    font-weight: 900;
}

.desc-body{
    font-size: 70%;
    font-style: italic;
    font-weight: 500;
    color: #606060;
    margin: 25px 0;
}

.values-link{
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 70%;
    color: #606060;
    font-family: cursive;
    font-style: italic;
}

.right-desc{
    display: block;
    width: 60%;
    overflow: hidden;
    position: relative;
}

.right-desc img{
    width: 100%;
}

/*********************************************************/
/********************Portfolio Section********************/
/*********************************************************/

.portfolio .page-title{
    color: #000000;
}

.portfolio-desc{
    padding: 0 250px 0 0;
}

/*********************************************/
/****************Ideas Section****************/
/*********************************************/

.ideas{
    display: block;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 60px;
}

.ideas-page_title{
    height: 500px;
    width: 100%;
    display: block;
    background-color: #f8f8f8;
}

.ideas-page_title .page-title{
    color: #414a6b;
    position: relative;
    z-index: 5;
}

.title-background{
    width: 100%;
    height: 60%;
    display: block;
    overflow: hidden;
    position: relative;
    top: -7.5%;
}

.title-background img{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.ideas-desc{
    display: flex;
    width: 100%;
    margin-top: 80px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 80px;
}

.desc-box{
    display: block;
    width: 20%;
    margin-right: 80px;
}

/************************************/
/*************Contact Us*************/
/************************************/

.contact-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: calc(100vh*0.06);
}

.box{
    width: 33%;
    text-align: center;
}

.brief img,
.brief p{
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

.brief img{
    width: 40px;
    margin-right: 45px;
}

.highlight-brief{
    font-size: 50%;
    font-weight: 700;
    color: #919191;
    font-style: italic;
    margin-bottom: 5px;
}

.contact-details{
    font-size: 50%;
    font-weight: 700;
    color: #919191;
}

.contact-no,
.email{
    color: #1c1b20;
    margin-top: 5px;
}

.logo-footer img{
    width: 30px;
}

.company-name{
    font-size: 50%;
    font-weight: 700;
    color: #919191;
    font-style: italic;
    margin-top: 5px;
}

/************************************/
/*************Animations*************/
/************************************/

.animate-services_title,
.animate-services_desc-title,
.animate-portfolio_title,
.animate-portfolio_desc-title,
.animate-ideas_title{
    display: block;
    overflow: hidden;
}

.animate-services_title p,
.animate-services_desc-title p,
.animate-portfolio_title p,
.animate-portfolio_desc-title p,
.animate-ideas_title p{
    transform: translateY(100%);
}

.image-overlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 5;
}

.animate-services_desc-body{
    display: block;
    transform: translateX(-100%);
}

.animate-portfolio_desc-body{
    display: block;
    transform: translateX(100%);
}